body{

}
header .row{
  background-image: linear-gradient(-180deg, #3B3C43, #3B3C43);
}
header h1{
  color: #DA554C;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 10rem;
}
section {
  background-image: linear-gradient(180deg, #3B3C43, #6D707E);
}
section h2{
  color: #DD635C;
  font-size: 4rem;
  margin-left: 80px;
}
section .row p{
  text-align: center;
  padding: 20px;
}
section ul{
  color: #E9766F;
  font-size: 2em;
}
footer .row{
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(-180deg, #3B3C43, #6D707E);
}
footer .col-sm-8{
  display: flex;
  justify-content: flex-end;
}
